@{
    ViewData["Title"] = "Welcome";
    Layout = "_StartLayout";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-left">
            <h1 class="display-4">Welcome to ChefYourself</h1>
            <hr class="my-4">
            <p class="lead">Log In or Register now to see the recipes.</p>
            <div class="d-flex justify-content-start">
                <p class="lead">
                    <a class="btn btn-danger me-2" href="Identity/Account/Login" role="button">Log in</a>
                </p>
                <p class="lead">
                    <a class="btn btn-danger" href="Identity/Account/Register" role="button">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>
